.d-flex{
	width: 100%;
	margin-top: 2%;
}
.nav{
	width: 20%;
}
.tab-content{
	width: 75%;
}
.nav-link{
	font-weight: bolder;
}
.footer{
	margin-top: 2%;
}
.buttons{
	margin-top: 2%;
	margin-left: 20%;
}